<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a System Engineer at
      <a class="underline-link" href="https://www.tcs.com/" target="_blank">TCS Innovation Labs, Bangalore</a> building things for the drone based solutions android apps with some awesome people. I graduated from
      <a class="underline-link" href="https://aktu.ac.in/" target="_blank">Dr. A.P.J. Abdul Kalam Technical University, Lucknow</a>.
    </p>

    <p>
      As a developer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    {% include employment-status.html %}
  </div>
</section>
